.textarea{
    resize: none;
    flex: 1;
    margin-right: 10px;
}

.input-button-container {
    display: flex;
    align-content: center;
}

.chat-container {
    flex: 1;
    margin-bottom: 20px;
    overflow-y: auto;
}